.how {
	background-color: white;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 7rem;
	margin-top: 2rem;
}


.list {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.item p {
	margin: 1rem 4rem;
}